* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}
body {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #e7eaf6;
}
